.slideshow {
    position: relative;
    overflow: hidden;
}

.slideshow>.slideshow-scenes {
    height: 100vh;
    transition: margin 0.5s;
}

.no-transition {
    transition: none !important;
}

.slideshow>.slideshow-scenes>* {
    height: 100%;
}


/* Page wide rules */

* {
    animation-fill-mode: forwards;
}

.slideshow-scenes>* {
    position: relative;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.slideshow {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.slideshow>.slideshow-scenes>* {
    font-size: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow>.slideshow-scenes>*:nth-child(2n) {
    background-color: black;
    color: white;
}

#unlock {
    background: black;
}

#unlock #bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    background: url(lol.jpg);
    background-size: cover;
    transition: opacity 0.5s 4.5s;
}

#unlock:hover #bg {
    opacity: 1;
}

#unlock .perspective {
    perspective: 1000px;
}

#unlock svg {
    position: absolute;
    width: 1000px;
    height: 1000px;
    transform: translate(-50%, -50%) scale(0.4);
}

#unlock:hover svg {
    animation: zoom-in 1.5s linear 3s forwards;
    transform-origin: 50% 50%;
}

#unlock:hover svg #ring {
    animation: unlock 1s forwards;
    transform-origin: 9.875% 0;
}

#unlock .bar {
    position: absolute;
    width: 100%;
    height: 20px;
    /* background: linear-gradient(to bottom, black, #8fd, black); */
    background: #8fd;
    transition: left 1.5s 1.25s, right 1.5s 1.25s;
}
#unlock #bar-1 {
    top: calc(50% + 20px);
    right: 0;
}
#unlock:hover #bar-1 {
    right: 100%;
}
#unlock #bar-2 {
    top: calc(50% + 110px);
    left: 0;
}
#unlock:hover #bar-2 {
    left: 100%;
}

@keyframes unlock {
    0% {
        transform: translateY(0) scaleX(1);
    }
    40% {
        transform: translateY(-70px) scaleX(1);
    }
    60% {
        transform: translateY(-70px) scaleX(1);
    }
    100% {
        transform: translateY(-70px) scaleX(-1);
    }
}

@keyframes zoom-in {
    0% {
        transform: translate(-50%, -50%) scale(0.4) translate3d(0, 0, 0);
        animation-timing-function: ease;
    }
    50% {
        transform: translate(-50%, -47%) scale(0.4) translate3d(0, 0, -500px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translate(-50%, -56%) scale(0.4) translate3d(0, 0, 1000px);
    }
}
